body{
    font-family: 'Otomanopee One', sans-serif;
    padding: 0%;
}

h1{
    font-size: 50px;
}

.orange-color{
    color: orange;
}

section{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    padding: 5px;
}

.half-width img{
    width: 80%;
}

.order-button{
    text-decoration: none;
    background-image: linear-gradient(blue, tomato);
    padding: 10px 40px;
    border-radius: 50px;
    color: white;
    font-weight: 700px;
}


.about-me{
    background-image: url(images/Frame56.jpg);
    background-repeat: no-repeat;
    background-position: center;
}



