*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background-image: linear-gradient(blue, tomato);
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 80px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}

body{
    font-family: 'Otomanopee One', sans-serif;
    padding: 0%;
}

h1{
    font-size: 50px;
}

.orange-color{
    color: orange;
    
}

.fix-con{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    padding: 5px;
    
}

.half-width img{
    width: 80%;
}

.order-button{
    text-decoration: none;
    background-image: linear-gradient(blue, tomato);
    padding: 10px 30px;
    border-radius: 50px;
    color: white;
    font-weight: 700px;
}


.about-me{
    background-image: url(images/Frame56.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.recepie{
    text-align: center;
    padding: 200px;
}

.food-item{
    width: 23%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px 20px 20px 20px ;
    box-shadow: 10px 10px 40px gray;
    float: left;
    border-radius: 10px;
    
}

.food-item img{
    width: 100%;
    height: 200px;
    padding: 0 10;
  
    border-radius: 10px;

}

footer{
    background-image: linear-gradient(blue, tomato);
    height: auto;
    width: 100vw;
    padding-top: 40px;
    clor: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
