body{
    font-family: 'Otomanopee One', sans-serif;
    padding: 0%;
}

h1{
    font-size: 50px;
}

.orange-color{
    color: orange;
}

.fix-con{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    padding: 5px;
    
}

.half-width img{
    width: 80%;
}

.order-button{
    text-decoration: none;
    background-image: linear-gradient(blue, tomato);
    padding: 10px 40px;
    border-radius: 50px;
    color: white;
    font-weight: 700px;
}


.about-me{
    background-image: url(images/Frame56.jpg);
    background-repeat: no-repeat;
    background-position: center;
}


.food-item{
    width: 23%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px 20px 20px 20px ;
    box-shadow: 10px 10px 40px gray;
    float: left;
    border-radius: 10px;
    
}

.food-item img{
    width: 100%;
    height: 200px;
    padding: 0 10;
    position: center;
    border-radius: 10px;
    

}
